@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Override */

html{
    font: 1rem;
}

@media (max-width: 768px){
     
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

/* Navigation */

li, a, button{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    /* position: fixed; */
}

.logo{
    max-width: 100%; 
    padding-right: 20px;
    height: 100px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: rgb(255,21,21);
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(255,21,21,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(40, 40, 40, 0.8);
}

/* Footer */

footer{
    border-top: 1px solid rgba(255,21,21,1);
}

h2{
    color: #edf0f1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 2%;
    font-size: 2rem;
}

.footer-info{
    color: #edf0f1;
    margin: 2%;
    font-size: 1.5rem;
    padding-left: 30%;
    padding-right:25%;
}

#footer-info{
    float:left;
    font-weight: 900;
    margin-bottom: 5%;
}

#footer-address{
    float:right;
    font-weight: 900;
}

/* Body */

/* foreground */

.foreground-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
}

.bodyforeground, .bodyforeground-subtext{
    background-color: #edf0f1;
    padding: 50px 50px 50px;
}

.bodyforeground{
    font-size: 2.5rem;
    font-weight: 900;
}

.bodyforeground-subtext{
    font-weight: 900;
}

.bodyforeground-text{
    font-size: 1.5rem;
    padding-left: 1rem;
}

/* middle ground */

.bodymiddle, .bodymiddle-subtext{
    background-color: #edf0f1;
    padding: 50px 50px 50px;
}

.bodymiddle{
    font-size: 2.5rem;
    font-weight: 900;
}

.bodymiddle-subtext{
    max-width: 400px;
    overflow-wrap: break-word;
    font-weight: 900;
}

.bodymiddle-text{
    font-size: 1.35rem;
    padding-left: 1rem;
}

/* end */

.bodyend, .bodyend-subtext{
    background-color: #edf0f1;
    padding: 50px 50px 50px;
}

.bodyend{
    font-size: 2.5rem;
    font-weight: 900;
}

.bodyend-subtext{
    max-width: 400px;
    overflow-wrap: break-word;
    font-weight: 900;
}

.bodyend-text{
    font-size: 1.35rem;
    padding-left: 1rem;
    margin-bottom: 50px;
}

/* coaches */

h1{
    color: #edf0f1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.amtcoaches{
    display: inline-block;
    width: 500px;
    height: 400px;
    list-style: none;
    padding: 50px 50px 50px;
}

.coachtitle{
    font-size: 1.5rem;
    font-weight: 900;
}

.coachsubtitle{
    font-size: 1rem;
    font-weight: 400;
}

/* schedule */

.lazyclassname{
    color: #edf0f1;
    font-size: 1.5rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.ingredients{
    color: #edf0f1;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(3, 50px);
    row-gap: 50px;
    grid-auto-flow: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}

/* pricing */

.pricing-container{
    color: #edf0f1;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: repeat(3, 150px);
    column-gap: 25%;
    row-gap: 50%;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

/* .pricing-membership{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 240px;
} */

/* contact */


input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: rgba(40, 40, 40, 0.8);
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #edf0f1;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: rgba(40, 40, 40, 0.8);
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}


/* images */

/* index.html */

.images{
    max-width: 100%;
    height: 500px;
  }
  
.body-image{ 
    max-width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

.youtube-videos{
    display: inline-flex;
    flex-direction: row;
    align-content: space-between;
    width: 420px;
    height: 315px;
    margin: 50px;
    padding-left: 30%;
}

/* coaches.html */

.coachimages{
    max-width: 100%;
    height: 750px;
}

/* schedule */

.schedule{
    max-width: 100%;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ingredients-images{
    max-width: 100%;
    height: 90px;
    border-radius: 50%;
}

/* pricing */

.pricing-images{
    max-width: auto;
    height: 240px;
}